body{
    margin:0;
    font-family: 'Quicksand', sans-serif;
}
:root{
    --white: #FFFFFF;
    --black: black;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

.my-order{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.order-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 500px;
}

.order-content{
    display: flex;
    flex-direction: column;
}

.order-content .order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items:center;
    background-color: var(--text-input-field);
    font-weight: bold;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px; 
}

.order-content .order p:nth-child(1){
    display: flex;
    flex-direction: column;
}

.order-content .order p span:nth-child(1){
    font-size: var(--md);
}
.order-content .order p span:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
}
.order-content .order p:nth-child(2){
    text-align: end;
}

.shopping-card{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 28px;
}

.shopping-card figure{
    margin: 0;
    margin-bottom: 30px;
}

.shopping-card svg{
    background: var(--white);
    width: 14px;
    height: 14px;
    margin-top: 8px;
    /**position: absolute;**/
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 10px;
    border: none;
    color: var(--white);
    height: 50px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-card svg:hover{
    cursor: pointer;
}

.shopping-card figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: contain;
}

.shopping-card p:nth-child(2){
    color: var(--very-light-pink);
}

.shopping-card p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}